@model ToolViewModel

@if (TempData["errorMessages"] != null)
{
        <div class="alert alert-danger">
            <ul>
            @foreach (var errorMessage in (List<string>)TempData["errorMessages"])
            {
                        <li>@errorMessage</li>
            }
            </ul>
        </div>
}

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Edit Tool</h2>
            </div>
        </div>
    </div>
    <form method="post"  class="row" enctype="multipart/form-data">
        <input asp-for="inpTbTool.ToolId" hidden />

        <div class="border p-3 mt-4">
            <div class="form-group col-12">
                <label asp-for="inpTbTool.ToolName" class="ms-2"></label>
                <input asp-for="inpTbTool.ToolName" class="form-control border-0 shadow" />
                <span asp-validation-for="inpTbTool.ToolName" class="text-danger"></span>
            </div>
            <div class="form-group col-12">
                <input asp-for="inpTbTool.ToolProductPrice" class="form-control border-0 shadow" />
                <label asp-for="inpTbTool.ToolProductPrice" class="ms-2"></label>
                <span asp-validation-for="inpTbTool.ToolProductPrice" class="text-danger"></span>
            </div>
            <div class="form-group col-12">
                <label asp-for="inpTbTool.ToolCurrentState" class="ms-2"></label>
                <input asp-for="inpTbTool.ToolCurrentState" class="form-control border-0 shadow" />
                <span asp-validation-for="inpTbTool.ToolCurrentState" class="text-danger"></span>
            </div>
            <div class="form-group col-12">
                <label asp-for="inpTbTool.ToolDescription" class="ms-2"></label>
                <textarea asp-for="inpTbTool.ToolDescription" class="form-control border-0 shadow"></textarea>
                <span asp-validation-for="inpTbTool.ToolDescription" class="text-danger"></span>
            </div>
            <div class="form-group col-12">
                <label asp-for="inpTbTool.ToolSticker" class="ms-2"></label>
                <textarea asp-for="inpTbTool.ToolSticker" class="form-control border-0 shadow"></textarea>
                <span asp-validation-for="inpTbTool.ToolSticker" class="text-danger"></span>
            </div>

            <div class="form-group col-12">
                <label asp-for="inpTbTool.CategoryId" class="ms-2"></label>
                <select asp-for="inpTbTool.CategoryId" asp-items="@Model.LisTbCategory" class="form-select border-0 shadow">
                    <option disabled selected>--Select Category--</option>
                </select>
                <span asp-validation-for="inpTbTool.CategoryId" class="text-danger"></span>
            </div>

            <div class="row mt-3">
                <div class="col-6 col-md-3">
                    <button type="submit" class="btn btn-primary form-control">Update</button>
                </div>
                <div class="col-6 col-md-3">
                    <a asp-controller="Tool" asp-action="Index" class="btn btn-secondary border form-control"> Back to List </a>
                </div>
            </div>
        </div>
    </form>
</div>

